---
layout: page
title: Posts
subtitle: News and Guides.
description: CoviGuide posts page – a collection of guides, news and todo's.
permalink: /posts
sitemap:
  priority: 0.9
---
{% for post in site.posts %}   
    {% unless post.listed == false %}
        {% if post.pin %}
            {% include post/post_card.html %}
        {% endif %}
    {% endunless %}   
{% endfor %}

{% for post in site.posts %}   
    {% unless post.listed == false %}
        {% if post.pin != true %}
            {% include post/post_card.html %}
        {% endif %}
    {% endunless %}   
{% endfor %}
